@model BeanScene.Areas.Admin.Models.AreaModels.EditTable

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Update</h1>

    <h4>Table "@Html.DisplayFor(model => model.Name)"</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditTable">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="AreaId" />
                <div class="form-group">
                    <label asp-for="Seats" class="control-label"></label>
                    <input asp-for="Seats" class="form-control" />
                    <span asp-validation-for="Seats" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p></p>
                    <input type="submit" value="Save" class="btn btn-success" /> |
                    <a asp-action="Manage" class="btn btn-primary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}